---
import BaseLayout from "../../layouts/BaseLayout.astro";

const works = [
  {
    id: "work-8",
    title: "Home Run Derby",
    desc: "8作目",
    image: "/images/work-8.jpg",
  },
  {
    id: "work-7",
    title: "居合道（IAI-DO）",
    desc: "7作目",
    image: "/images/work-7.jpg",
  },
  {
    id: "work-6",
    title: "Neon Horizon",
    desc: "6作目",
    image: "/images/work-6.jpg",
  },
  {
    id: "work-5",
    title: "Cosmic Collector",
    desc: "5作目",
    image: "/images/work-5.jpg",
  },
  {
    id: "work-4",
    title: "Jugring Boy",
    desc: "4作目",
    image: "/images/work-4.jpg",
  },
  {
    id: "work-3",
    title: "LEAP BEYOND",
    desc: "3作目",
    image: "/images/work-3.jpg",
  },
  {
    id: "work-2",
    title: "CREEPY BIRD NAGASAWA",
    desc: "2作目",
    image: "/images/work-2.jpg",
  },
  {
    id: "work-1",
    title: "飛べ！ナガサワ・アホウドリ",
    desc: "1作目",
    image: "/images/work-1.jpg",
  },
];
---

<BaseLayout title="Game">
  <section class="works-grid">
    {works.map(work => (
      <a href={`/works/${work.id}`} class="work-card">
  <div class="work-thumb">
    <img src={work.image} alt={work.title} />
    <div class="work-overlay">
      <h3>{work.title}</h3>
      <p>{work.desc}</p>
    </div>
  </div>
</a>
    ))}
  </section>
</BaseLayout>
